[Unit]
Description=%I - Bloomfilter

[Service]
Type=notify
Environment=DJANGO_SETTINGS_MODULE=outpost.django.settings
Environment=DJANGO_LOCAL_CONFIGURATION=/etc/outpost/%i/django.py
EnvironmentFile=-/etc/outpost/%i/bloomfilter.env
WorkingDirectory=/srv/outpost/%i/runtime
User=outpost
RuntimeDirectory=outpost
RuntimeDirectoryPreserve=yes
ExecSearchPath=/srv/outpost/%i/runtime/bin:/usr/bin:/bin
ExecStart=python3 -m django bloom_server
UMask=0027

[Install]
WantedBy=outpost@%i.target
