[Unit]
Description=%I - Celery Worker Haystack

[Service]
Type=simple
Environment=DJANGO_LOCAL_CONFIGURATION=/etc/outpost/%i/django.py
EnvironmentFile=-/etc/outpost/%i/celery-worker-haystack.env
WorkingDirectory=/srv/outpost/%i/runtime
User=outpost
ExecSearchPath=/srv/outpost/%i/runtime/bin:/usr/bin:/bin
ExecStart=python3 -m celery -A outpost.django.celery worker -E --loglevel=WARNING -n 'haystack@%i' -c 1 -Q haystack
LimitNOFILE=500000
LimitNPROC=500000
UMask=0027

[Install]
WantedBy=outpost@%i.target
