[Unit]
Description=%I - gunicorn

[Service]
Type=notify
Environment=DJANGO_SETTINGS_MODULE=outpost.django.settings
Environment=DJANGO_LOCAL_CONFIGURATION=/etc/django/%i.py
EnvironmentFile=-/etc/django/%i.env
WorkingDirectory=/var/www/outpost/%i
User=www-data-api
RuntimeDirectory=outpost
RuntimeDirectoryPreserve=yes
ExecSearchPath=/var/www/outpost/%i/bin
ExecStart=python3 -m gunicorn -c python:outpost.django.gunicorn outpost.django.asgi:application
UMask=0027

[Install]
WantedBy=outpost@%i.target
