[Unit]
Description=%I - Celery Worker

[Service]
Type=simple
Environment=DJANGO_LOCAL_CONFIGURATION=/etc/django/%i.py
WorkingDirectory=/var/www/outpost/%i
User=www-data-api
ExecSearchPath=/var/www/outpost/%i/bin:/usr/bin:/bin
ExecStart=python3 -m celery -A outpost.django.celery worker -E --loglevel=WARNING -n 'maintainance@%i' --autoscale=20,10 -Q maintainance --purge
LimitNOFILE=500000
LimitNPROC=500000
UMask=0027

[Install]
WantedBy=outpost@%i.target
